@{ ViewData["Title"] = "Sign in with Google"; }

<section class="homeItems">

    <h1>Calendar Manager</h1>
    <p>An event booking web application integrated with Google Calendar API.</p>

    <a class="signInButton" asp-controller="Authorization" asp-action="RequestToken">Sign in with Google</a>
    <p>For more information, visit this project's <a href='https://git-teaching.cs.bham.ac.uk/mod-msc-proj-2020/mxr080'>GitLab</a> repo.</p>

</section>





